*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper
{
    width: 360px;
    min-height: auto;
    display: grid;
    margin: 15px auto;
    border: 1px solid #000;
    grid-template-columns: 100px 150px 100px;
    grid-template-rows: 80px 80px 80px 80px 80px ;
    grid-template-areas: "one one one"
                            "two three four"
                            "five three six"
                             "five seven seven"
                             "eight eight nine";
                             grid-gap: 5px;
}
.one{
background-color: palevioletred;
grid-area: one;
text-align: center;
}
.two{
    background-color: red;
    grid-area: two;
    text-align: center;
}
.three
{
    background-color: cadetblue;
    grid-area: three;
    text-align: center;
}
.four
{
    background-color: darkblue;
    grid-area: four;
    text-align: center;
}
.five
{
    background-color:saddlebrown ;
    grid-area: five;
    text-align: center;
}
.six
{
    background-color: forestgreen;
    grid-area: six;
    text-align: center;
}
.seven
{
    background-color: chartreuse;
    grid-area: seven;
    text-align: center;
}
.eight
{
    background-color: lightblue;
    grid-area: eight;
    text-align: center;
}
.nine
{
    background-color: seagreen;
    grid-area: nine;
    text-align: center;
}