*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper
{
    width: 80%;
    margin: 0 auto;
}
header
{
    min-height: 100px;
    width: 100%;
    background-color:rgb(101, 94, 94);

}
header h1
{
    color: white;
    padding-top: 10px;
}
.nav
{
    display: flex;
    width: 100%;
    background-color: rgb(18, 1, 1);
    min-height: 30px;
    margin-top: 28px;
    align-items: center;
}
.nav .menu
{
    width: 50%;
    display: flex;
    gap: 20px;
    margin-left: 10px;
}
.nav .menu a
{
text-decoration: none;
color: white;
font-size: 20px;
}
.nav .menu a:hover
{
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 3px;
}
.nav .search
{
    width: 50%;
    margin-left: 700px;
}
article
{
    width: 100%
    /* min-height: 200px; */

    align-items: center;
    display: flex;
}
.main-content
{
    width: 70%;
    float: left;
    min-height: 200px;
    border: 1px solid black;
    align-items: center;
}
.sidebar
{
    width: 28%;
    float: left;
    align-items: center;  
    text-align: center;
    padding: 20px;
}
.sidebar h4
{
margin-top: 10px;
}
section
{
    display: flex;
    min-height: 800px;
    width: 70%;
    margin-top: 10px;
    /* text-align: justify; */
}
section .section1
{
    width: 49%;
   min-height: 800px;
}
section .section2
{
    width: 49%;
    min-height: 800px;
}
.sidebar .square
{
    
}



