*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
  display: flex;
  flex-direction: column;
   
}
.wrapper
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    min-height: 100vh;
    width: 60%;
   margin: 0 auto;
}
.logo
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-height: 12vh;
    /* border: 1px solid black; */
    background-color: lightgreen;
    color: white;
}
.slider
{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    margin-top: 1%;
    
}
.main
{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    /* border: 1px solid black; */
    margin-top: 1%;
}
.left-box
{
    display: flex;
    flex-direction: row;
    width: 20%;
    min-height: 40vh;
    background-color: rgb(106, 96, 212);
     justify-content: center;
     align-items: center;
     color: #fff;

}
.right
{   display: flex;
    flex-direction: column;
    width: 79%;
  min-height: 40vh;
  background-color: brown;
  margin-left: 1%;
  color:#fff;
}
.right .banner
{
    width: 100%;
    min-height: 19vh;
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vh;
    color: #fff;
}
.right .content
{
    width: 100%;
    min-height: 19vh;
    display: flex;
    flex-direction: row;
    background-color: lightsalmon;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    color: #fff;
}
.discreaption
{
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    color: white;
    margin-top:1%;
}